<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>日付</title>
</head>

<body>

<p>日付</p>
<p></p>
<form th:action="@{/management_console/newspaper_manage/register_confirm}" method="post" th:object="${NewsArticleForm}">
	<input name="date" type="text" />

<p>新聞社名</p>
<p>
	<input name="companyName" type="text" />
</p>
	見出し<br />
	<textarea cols="20" name="articleHeader" rows="2"></textarea>
<p>記事</p>
	<textarea cols="20" name="articleSentence" rows="2"></textarea>
	<input name="Reset1" type="submit" value="登録" />
</form>
</body>

</html>
