<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="css/color.css" />
<title>日付</title>
</head>

<body>

<form th:action="@{/management_console/newspaper_manage/update_confirm}" method="post" th:object="${NewsArticleForm}">
<p>日付</p>
	<input name="date" type="text"  th:value="*{#date.format(date,'yyyy/MM/dd')}"/>
<p></p>
<p>新聞社名</p>
<p>
	<input th:field="*{companyName}" type="text" />
</p>
	見出し<br />
	<textarea cols="20" th:field="articleHeader" rows="2" th:value="ああ"></textarea>
<p>記事</p>
	<textarea cols="20" th:field="articleSentence" rows="2" style="width:300px; height:500px;" th:value="ああ"></textarea>
	<input name="Reset1" type="submit" value="登録" />
</form>
</body>

</html>
