<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>～</title>
</head>

<body>

<form th:action="@{/management_console/newspaper_manage/reffernce}" method="post" >
	<input name="Text1" type="text" />日付区間
	<p>～</p>
	<input name="Text2" type="text" /><br />
	<input name="Text3" type="text" />新聞社名<br />
	<textarea cols="20" name="TextArea1" rows="2"></textarea>見出し<br />
	<textarea cols="20" name="TextArea2" rows="2"></textarea>新聞記事<br />
</form>

</body>

</html>
