<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>日付</title>
</head>

<body>

<p>日付</p>
<p>
<form method="post">
	<input name="Text1" type="text" /></form>
</p>
<p>新聞名</p>
<p>
<form method="post">
	<input name="Text2" type="text" /></form>
</p>
<form method="post">
	見出し<br />
	<textarea cols="20" name="TextArea1" rows="2"></textarea></form>
<p>記事</p>
<form method="post">
	<textarea cols="20" name="TextArea2" rows="2"></textarea></form>
<form method="post">
	<input name="Reset1" type="reset" value="登録" /></form>

</body>

</html>
