<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>登録ページ</title>
<link rel="stylesheet" type="text/css" href="css/color.css" />
<style type="text/css">
.auto-style1 {
	font-family: メイリオ;
	margin-bottom: 0px;
}

.auto-style2 {
	font-family: メイリオ;
	margin-left: 2px;
	margin-top: 0px;
	margin-bottom: 1px;
}

.auto-style3 {
	font-family: メイリオ;
	margin-top: 0px;
	margin-bottom: 0px;
}

.auto-style6 {
	font-family: メイリオ;
}

.auto-style7 {
	margin-top: 0px;
}

.auto-style8 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.auto-style9 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.auto-style10 {
	margin-top: 3px;
}

.auto-style11 {
	margin-bottom: 0px;
}

.fieldError {
	background-color: #FF657A
}
</style>
</head>

<body th:object="${RegisterForm}">

	<p class="auto-style6">ユーザー登録フォーム</p>
	<p class="auto-style2">アクセスありがとうございます！</p>
	<p class="auto-style3" style="width: 762px; height: 21px">
		下記の情報を入力してユーザー登録をお願いします。</p>
	<p class="auto-style1">ユーザー名</p>
		<form class="auto-style7" th:action="@{/register_confirm}"  th:object="${RegisterForm}" method="post">
	<div id="レイヤー5"
		style="position: absolute; width: 138px; height: 19px; z-index: 1; left: 11px; top: 144px">
		姓<br />
	</div>
	<br />

	<p class="auto-style7">

			<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style７">
			<p th:if="${#fields.hasErrors('*{FirstName}')}"
				th:errors="*{FirstName}" style="color: red" />
			<p th:text="${ErrorMessage}"
				 style="color: red" />
				 		<!--▲▲ エラーメッセージ表示 ▲▲-->

		</div>

			<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style７">
			<p th:if="${#fields.hasErrors('*{LastName}')}"
				th:errors="*{LastName}" style="color: red" />
			<p th:text="${ErrorMessage}"
				 style="color: red" />
		</div>
			<!--▲▲ エラーメッセージ表示 ▲▲-->

		<input name="FirstName" style="width: 128px" type="text"
			th:field="*{FirstName}" th:errorclass="fieldError" /><input name="LastName" type="text" th:field="*{LastName}" th:errorclass="fieldError" />

	</p>
	<p class="auto-style8">会社名</p>
	<p class="auto-style7">

		<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style７">
			<p th:if="${#fields.hasErrors('*{CompanyName}')}"
				th:errors="*{CompanyName}" style="color: red" />
			<p th:text="${ErrorMessage}"
				 style="color: red" />
		</div>
			<!--▲▲ エラーメッセージ表示 ▲▲-->
		<input name="CompanyName" type="text" th:field="*{CompanyName}" th:errorclass="fieldError" />
	</p>
	<p class="auto-style8">部署</p>

			<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style７">
			<p th:if="${#fields.hasErrors('*{CompanyBlock}')}"
				th:errors="*{CompanyBlock}" style="color: red" />
			<p th:text="${ErrorMessage}"
				 style="color: red" />
		</div>
			<!--▲▲ エラーメッセージ表示 ▲▲-->
		<input class="auto-style10" name="CompanyBlock" type="text" th:field="*{CompanyBlock}" th:errorclass="fieldError" />
	<p class="auto-style9" style="height: 15px; width: 480px">会社所在地</p>
	<p class="auto-style9" style="height: 15px; width: 480px">

				<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style７">
			<p th:if="${#fields.hasErrors('*{CompanyAddress}')}"
				th:errors="*{CompanyAddress}" style="color: red" />
			<p th:text="${ErrorMessage}"
				 style="color: red" />
		</div>
			<!--▲▲ エラーメッセージ表示 ▲▲-->
		<input name="CompanyAddress" type="text" style="width: 319px" th:field="*{CompanyAddress}" th:errorclass="fieldError" />
	</p>
	<p class="auto-style11">メールアドレス(ログイン時に使用するIDはメールアドレスになります)</p>
				<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style７">
			<p th:if="${#fields.hasErrors('*{EMail}')}"
				th:errors="*{EMail}" style="color: red" />
			<p th:text="${ErrorMessage}"
				 style="color: red" />
		</div>

		<div class="auto-style７">
			<p th:unless="${#strings.isEmpty(SameEmail)}"
				th:errors="*{EMail}" style="color: red" />
			<p th:text="${SameEmail}"
				 style="color: red" />
		</div>
			<!--▲▲ エラーメッセージ表示 ▲▲-->
		<input name="EMail" style="width: 320px" type="text" th:field="*{EMail}" th:errorclass="fieldError" />
	<p class="auto-style11">パスワード</p>

				<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style７">
			<p th:if="${#fields.hasErrors('*{CustomerPassword}')}"
				th:errors="*{CustomerPassword}" style="color: red" />
			<p th:text="${ErrorMessage}"
				 style="color: red" />
		</div>
			<!--▲▲ エラーメッセージ表示 ▲▲-->
		<input name="CustomerPassword" style="width: 315px" type="password" th:field="*{CustomerPassword}" th:errorclass="fieldError" /><br />
		<br /> <input name="Button1" type="submit" value="登録" />
	<div id="レイヤー1"
		style="position: absolute; width: 138px; height: 19px; z-index: 1; left: 140px; top: 143px">
		名<br />
	</div>
	</form>
</body>

</html>
