<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>以下の内容で登録します</title>
<style type="text/css">
.auto-style1 {
	margin-bottom: 0px;
}

.auto-style2 {
	margin-top: 5px;
}

.auto-style3 {
	margin-bottom: 3px;
}

.auto-style4 {
	margin-top: 2px;
}

.auto-style5 {
	margin-top: 1px;
}

.auto-style6 {
	margin-top: 0px;
}

.auto-style7 {
	margin-bottom: 5px;
}

.auto-style8 {
	margin-top: 4px;
}
</style>
</head>

<body th:object="${RegisterForm}">

	<p>以下の内容で登録します。</p>
	<p class="auto-style7">名前</p>
	<p class="auto-style6" style="width: 272px; height: 18px"
		th:text="${RegisterForm.getFirstName()}">名前エラー！</p>
	<p class="auto-style1">会社名</p>
	<p class="auto-style2" style="width: 131px; height: 17px"
		th:text="${RegisterForm.getCompanyName()}">社名エラー！</p>
	<p class="auto-style3">部署</p>
	<p class="auto-style4" th:text="${RegisterForm.getCompanyBlock()}">部署名エラー！</p>
	<p class="auto-style3">住所</p>
	<p class="auto-style5" th:text="${RegisterForm.getCompanyAddress()}">住所エラー</p>
	<p class="auto-style1">メールアドレス</p>
	<p class="auto-style8" th:text="${RegisterForm.getEMail()}">tanaka-tarou@tanakashouji.co.jp	</p>
	<p class="auto-style1">パスワード</p>
	<p class="auto-style6" th:text="${mockpassword}">パスワードマスク生成エラー</p>
	<p>&nbsp;</p>
	<p>よろしければ登録ボタンを押して下さい</p>
	<form action="/register_complete" method="post">
		<input name="register_complete" type="submit" value="登録" />
	</form>

</body>

</html>
