<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="css/color.css" />
<title>日付</title>
</head>

<body>

<form>
<p>日付</p>
	<input name="companyName" type="text"  th:value="ああ"/>

<p>新聞社名</p>

	<input name="companyName" type="text" th:value="ああ" />
	見出し<br />
	<textarea cols="20" name="articleHeader" rows="2" th:value="ああ"></textarea>
<p>記事</p>
	<textarea cols="20" name="articleSentence" rows="2" style="width:300px; height:500px;"> </textarea>
	<input name="Reset1" type="submit" value="登録" />
</form>
</body>

</html>
