<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link rel="stylesheet" type="text/css" href="css/color.css" />
<title>日付</title>
</head>

<body>
	<div th:object="${NewsArticle}">
		<form>
			<p>日付</p>
			<input name="companyName" type="text" th:value="*{date}" />

			<p>新聞社名</p>

			<input name="companyName" type="text" th:value="*{companyName}" /> 見出し<br />
			<textarea cols="20" name="articleHeader" rows="2" th:text="*{ArticleHeader}"></textarea>
			<p>記事</p>
			<textarea cols="20" name="articleSentence" rows="2"
				style="width: 300px; height: 500px;"  th:text="*{ArticleHeader}"> </textarea>
			<input name="Reset1" type="submit" value="登録" />
		</form>
	</div>
</body>

</html>
