<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>水産物情報ページ</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
}

.auto-style2 {
	text-align: left;
	margin-left: 80px;
}

.auto-style3 {
	text-align: left;
	margin-left: 40px;
}

.auto-style5 {
	margin-left: 40px;
}

.auto-style6 {
	text-align: right;
	margin-left: 40px;
}

.auto-style7 {
	text-align: left;
	margin-left: 40px;
}

.fieldError {
	background-color: #FF657A
}
</style>
</head>

<body>
	<p class="auto-style1"></p>
	<p class="auto-style2">
		ここは水産業界の情報を集めているwebページです。
	</p>
	<p class="auto-style2"></p>
	<p class="auto-style3" style="height: 24px">

	</p>
	<br />
	<form th:action="@{/login}" method="post" th:object="${LoginForm}">


			<!--▼▼ エラーメッセージ表示 ▼▼-->
		<div class="auto-style5">
			<p th:text="${ErrorMessage}"
				 style="color: red" />
		</div>
		<!--▲▲ エラーメッセージ表示 ▲▲-->
		<p class="auto-style5">
		<input name="loginName" type="text"/>
		</p>

		<p class="auto-style5">パスワード</p>

		<p class="auto-style5">
		<input name="loginPassword" type="password"/>
		</p>
		<p class="auto-style6">
		<div class="auto-style7">
			<input name="Button_login" type="submit" value="ログイン" />
		</div>
		</p>
		<!-- input type="hidden" name="_csrf" th:value="${_csrf.token}"/--><!-- csrdトークン -->
	</form>
	<p class="auto-style6">新規ユーザーの方はこちらから</p>

	<form th:action="@{/register}" method="POST">
		<p class="auto-style6">
			<input name="toRegister" type="submit" value="新規ユーザー登録" />
			<!-- input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/--><!-- csrdトークン -->
		</p>
	</form>
</body>

</html>
