<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>管理者登録</title>
<style type="text/css">
.auto-style2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.newStyle1 {
	font-weight: normal;
	position: relative;
	width: 120px;
	height: 60px;
}
.auto-style4 {
	margin-top: 0px;
}
</style>
</head>

<body>

<p>管理者情報更新</p>
<p>※この管理者は凍結されています！</p>
<p>&nbsp;</p>
<p class="auto-style2" style="width: 142px; height: 18px">姓</p>
<p class="auto-style2">
<input name="Text1" style="width: 141px; height: 17px" type="text" /></p>
<p class="auto-style2" style="width: 142px; height: 18px; float: right; position: relative; right: 494px; top: -17px">
<fieldset name="Group1" style="width: 141px"></fieldset></p>
<p class="auto-style4" style="position: relative; left: 145px; top: -36px; width: 135px; height: 18px">
名</p>
<p>Eメール</p>
<p>
<form method="post">
	<input name="Text2" style="width: 281px; height: 29px" type="text" /></form>
</p>
<p>パスワード</p>
<p>
<form method="post">
	<input name="Text3" style="width: 274px; height: 27px" type="text" /></form>
</p>
<form method="post">
	<input name="chu_user_register" type="submit" value="更新" /></form>

<form method="post">
	<input name="delete" type="submit" value="管理者を削除します" /></form>
<form method="post">
	<input name="chu_user_freeze" type="submit" value="管理者をBANします" /></form>

</body>

</html>
