<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>無題 1</title>
<style type="text/css">
.auto-style1 {
	text-align: right;
}
</style>
</head>

<body>

<form th:action="@{/management_console/chusui_user_manage/user_search}" method="post">
	<input name="toReferr" type="submit" value="ユーザー検索_編集画面へ" /></form>
<form  th:action="@{/management_console/chusui_user_manage/user_register}" method="post">
	<input name="tochuuserRegister" type="submit" value="ユーザー登録画面へ" /></form>
<form  th:action="@{/management_console}" method="post">
	<div class="auto-style1">
		<br />
		<br />
		<br />
		<br />
		<input name="toManagementConsole" type="submit" value="戻る" /></div>
</form>

</body>

</html>
