<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>管理者登録</title>
<style type="text/css">
.auto-style2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.newStyle1 {
	font-weight: normal;
	position: relative;
	width: 120px;
	height: 60px;
}
.auto-style4 {
	margin-top: 0px;
}
</style>
</head>

<body th:object="${ChuUserRegisterForm}">

<p>管理者登録</p>
<p>&nbsp;</p>
<form th:action="@{/management_console/chusui_user_manage/register_confirm}" method="POST">
	<p class="auto-style2" style="width: 142px; height: 18px">姓</p>

	<p class="auto-style2">
		<input name="LastName" style="width: 141px; height: 17px" type="text" />
	</p>

	<p class="auto-style2" style="position: relative; left: 145px; top: -23px; width: 135px; height: 18px;">
		<input name="FirstName" style="width: 141px; height: 17px"></input>
	</p>

	<p class="auto-style4" style="position: relative; left: 145px; top: -60px; width: 135px; height: 18px">名</p>

	<p>Eメール</p>
	<p>
		<input name="EMail" style="width: 281px;" type="text"  th:field="*{EMail}" />
	</p>
		<p>パスワード</p>
	<p>
		<input name="ChuUserPassword" style="width: 274px;" type="password" th:field="*{ChuUserPassword}" />
	</p>
	<input name="chu_user_register" type="submit" value="登録" />

</form>
</body>

</html>
