<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>管理者登録</title>
<style type="text/css">
.newStyle1 {
	font-weight: normal;
	position: relative;
	width: 120px;
	height: 60px;
}
.auto-style1 {
	margin-top: 0px;
}
.auto-style2 {
	margin-bottom: 0px;
}
</style>
</head>

<body>

<p class="auto-style2">管理者情報更新　</p>
<p class="auto-style1">管理者を選択してください</p>
<p/>
<form method="post">
	<div id="reffer_loop" th:each="refer_entity : ${AllRefference}">
		<input name="Button2" type="button" th:value="${refer_entity.getUserEmail()}" />
		<input th:field="${refer_entity.getUserEmail()}" type="hidden" />
	</div>
</form>

</body>

</html>
