<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>姓</title>
<style type="text/css">
.auto-style1 {
	text-align: right;
}
</style>
</head>

<body>

<form method="post" th:object="${UserReffernce.get(0)}">
	姓<br />
	<input name="Text1" type="text" />
	名<br />
	<input name="Text2" type="text"  th:value="*{userFirstName}" />
	Eメール<br />
	<input name="Text3" type="text" />
	パスワード<br />
	<input name="Password1" type="password" />
	権限 (ROLE_ADMINかROLE_USERのどちらか)<br />
	<input name="Text4" type="text" /><br />
	<br />
	Enableユーザー<br />
	<input name="Radio1" type="checkbox"  th:value="${UserReffernce.get(0).getEnabled()}" /><br />
	<br />
	<input name="update" type="button" value="更新" />
	<div class="auto-style1">
		<input name="delete" type="button" value="削除" /></div>
</form>

</body>

</html>
