<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="ja" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>管理者登録</title>
<style type="text/css">
.newStyle1 {
	font-weight: normal;
	position: relative;
	width: 120px;
	height: 60px;
}
.auto-style1 {
	margin-top: 0px;
}
.auto-style2 {
	margin-bottom: 0px;
}
</style>
</head>

<body>

<p class="auto-style2">管理者情報更新　</p>
<p class="auto-style1">管理者を選択してください</p>
<p>
<form method="post">
	<input name="Button1" type="button" value="管理田_管理次郎_kanritakanrijito@tanakashouji.co.jp" /></form>
</p>
<p>
<form method="post">
	<input name="Button2" type="button" value="管理藤_管理子_kanrihujikanriko@tanakashoji.co.jp" /></form>
</p>
<form method="post">
	<input name="Button3" type="button" value="管理澤_管理平_kanrisawakanrihei@tanakashouji.co.jp" /></form>
<p>
<form method="post">
	<input name="Button4" type="button" value="管理塚_管理之_kanridukakanriyuki@tanakashouji.co.jp" /></form>
</p>
<p>
<form method="post">
	<input name="Button5" style="height: 24px; width: 527px" type="button" value="管理村_管理一_kanrimurakanriichi@tanakashouji.co.jp" /></form>
</p>

</body>

</html>
